// Variables
$website-width: 1280px;
$project-container-width: 980px;
$blue-color: #4c80f1;
$green-color: #1bbf83;
$red-color: #f24147;
$reviewty-color: #fdba00;
$dark-color: #4d5256;
$medium-color: #878d91;
$light-color: rgb(100, 111, 124);
$weak-color: rgb(172, 183, 196);
$webkit-backdrop-filter: saturate(180%) blur(20px);
$box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.1);
$icon-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
