@import "config";
@import "utilities";
@import "mobile";

// General Styles
* {
  margin: 0;
  padding: 0;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  color: $dark-color;
  line-height: 1.6;
  background: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $medium-color;

  .content_text_link {
    background-image: linear-gradient(
      120deg,
      rgb(255, 237, 137) 0%,
      rgb(255, 210, 61) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 0.4rem;
    background-position: 0 80%;
    padding: 0.2rem 0rem;
    transition: background-size 0.25s ease-in-out;
    color: $dark-color;
    font-weight: 500;

    &:hover {
      background-size: 100% 100%;
    }
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 60px;
  height: 60px;
  padding-left: 1rem;
}

// Navigation
#main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: $webkit-backdrop-filter;
  overflow: hidden;

  #logo-text {
    color: #333;
    padding-left: 1rem;
    padding-top: 6px;
    font-family: "Fugaz One", cursive;
    font-size: 2.3rem;
    align-items: center;

    &:hover {
      color: $dark-color;
    }
  }

  .logo-text-style {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: fff;
    animation: point 2s infinite;
  }

  @keyframes point {
    0% {
      background: #ee6055;
    }
    25% {
      background: #60d394;
    }
    50% {
      background: #aaf683;
    }
    75% {
      background: #ffd97d;
    }
    100% {
      background: #ff9b85;
    }
  }

  ul {
    justify-self: end;
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: $dark-color;

    &:hover {
      color: $medium-color;
      transition: color 0.5s;
    }
  }
}

// Language
.lang-switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    cursor: pointer;
    padding: 0rem 0.4rem;
  }
}

.lang-on {
  color: $dark-color;
  font-weight: 700;

  &:hover {
    color: $dark-color !important;
    font-weight: 700 !important;
  }
}

.lang-off {
  font-size: 1rem;
  color: $medium-color !important;

  &:hover {
    color: $dark-color !important;
  }
}

.lang-divider {
  font-size: 0.8rem;
  padding-top: 2px;
}

// Header
#header-home {
  background: #fff;
  position: relative;

  .header-content {
    text-align: left;

    .header-title {
      height: 70vh;
      display: flex;
      justify-content: left;
      align-items: center;
      width: 70%;
      padding-top: 4rem;
      padding-left: 14px;
    }

    .header-main-title {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 3.8rem;
      padding: 1rem 0rem;
      word-break: keep-all;
      letter-spacing: 0rem;
    }

    .header-main-title-kr {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 3.8rem;
      padding: 1rem 0rem;
      word-break: keep-all;
      letter-spacing: -0.38px;
    }

    .header-sub-kr {
      font-size: 1.5rem;
      font-weight: 500;
      padding-bottom: 1rem;
      letter-spacing: -0.38px;
      line-height: 2rem;
      word-break: keep-all;
    }

    .header-sub {
      font-size: 1.5rem;
      font-weight: 500;
      padding-bottom: 0.5rem;
      letter-spacing: 0;
      line-height: 2rem;
      word-break: keep-all;
    }

    .header-current {
      font-size: 0.9rem;

      &-highlight {
        font-weight: 500;
        color: #333;
      }
    }
  }

  #main-nav {
    position: fixed;
    width: 100%;
  }
}

// Selected Works

#selectedworks {
  font-size: 1.5rem;
  letter-spacing: 0rem;
}
.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.item {
  padding-top: 1.8rem;

  &-text-wrap {
    padding-top: 1rem;
  }

  &-image {
    border-radius: 12px;

    &:hover {
      box-shadow: $box-shadow;
      transition: all 0.5s ease-in-out;
    }
  }

  i {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0.3rem;
    color: $dark-color;
    font-size: 0.9rem;
  }
}

//Writings
#work-b {
  padding-top: 4rem;
}
.writings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
}

.writing {
  padding-top: 2rem;

  &-text-wrap {
    padding-top: 0.6rem;
  }

  &-image {
    border-radius: 8px;
  }
}

// Footer
#main-footer {
  background-color: #fff;
  color: $dark-color;
  height: 100%;
  padding: 0;

  .footer-content {
    max-width: $website-width;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .footer-right {
    text-align: left;

    .p_normal {
      padding-top: 4px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-boxes {
      display: flex;
      flex-direction: row;
    }
    .p_bold {
      padding: 0 1rem;
    }
  }
}

// Pages
#project-header {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

#brief-problems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

  ul {
    margin-left: 5%;
    padding: 0;

    li {
      list-style-type: disc;
      padding: 0 !important ;
    }
  }
}

.team-image {
  padding: 0;
  background: transparent;
  box-shadow: none;
  width: 100%;
}

// Lock page
.lock-bg {
  background-color: #f9fafc;
  // background-color: rgb(237, 239, 245);
  width: 100%;
  height: 100vh;
}

.lock-container {
  vertical-align: middle;
  text-align: center;
}

.lock-emoji {
  text-align: center;
  font-size: 5rem;
}

.lock-texts {
  padding-top: 35vh;
}

// Reviewty
.reviewty-brief-all {
  display: flex;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;

  img {
    position: relative;
    width: inherit;
    height: 60vh;
    display: inline-block;
    transform: translate(0px, 0px);
    animation: move 4s ease-in-out infinite alternate-reverse;
    z-index: -1;
  }
}

@keyframes move {
  0% {
    transform: translate(20px, 0);
  }

  50% {
    transform: translate(0px, 0);
  }

  100% {
    transform: translate(-20px, 0);
  }
}

.painpoints {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem;
  z-index: -1;
}

.personas {
  // display: grid;
  // grid-template-columns: repeat(1, 1fr);
  // grid-gap: 1rem;
  // z-index: -1;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.mission {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  z-index: -1;

  &-main-text {
    text-align: left;

    p {
      font-weight: 600;
      color: $weak-color;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
    }

    h3 {
      font-size: 1.8rem;
      padding-bottom: 1.5rem;
      padding-top: 0.2rem;
      margin-left: -0.2rem;
    }
  }

  &-box {
    background: #f9fafc;
    border-radius: 20px;
    padding: 3rem 3rem;
    margin-bottom: rem;
    z-index: -1;
  }

  &-text-a {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 0rem;
    word-break: keep-all;
    text-align: left;
    align-items: left;
    justify-content: left;

    h3 {
      font-weight: 400;
      font-size: 1.2rem;
    }
  }
}

.assumptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem;
  z-index: -1;
}

.process {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  grid-gap: 1rem;
  background: #f9fafc;
  border-radius: 20px;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  z-index: -1;

  &-text {
    padding-right: 1rem;
  }
}

#research-inner {
  .research-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    z-index: -1;

    ul {
      li {
        list-style-type: disc;
        padding-bottom: 0.6rem;
        line-height: 1.7rem;
      }
    }
  }
}

#target .persona {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  z-index: -1;
}

#solution {
  li {
    list-style-type: disc;
  }
}

.principle-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  padding: 0rem 0rem;
}

.principle-a {
  padding: 0rem 0rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  background-color: #f9fafc;

  &-texts {
    padding: 1.5rem;
    margin: 0;

    .project-section-subtitle-third {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.prototype {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  z-index: -1;

  .gif_text {
    padding: 0rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .gif_inside_text {
      width: 100%;
      padding: 0rem 0rem;
      padding-left: 1rem;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.9rem;
    }
  }

  .gif {
    width: 80%;
    height: auto;
    padding: 0rem 0rem;
    padding-left: 10%;

    img {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      box-shadow: $box-shadow;
    }
  }
}

.self {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;

  ul {
    list-style: disc;

    li {
      padding-bottom: 0.2rem;
      font-size: 1.05rem;
      margin-left: 5%;

      p {
        font-size: 1.1rem;
        line-height: 1.9rem;
      }
    }
  }
}

.self-normal {
  ul {
    list-style: disc;
    list-style-position: inside;

    li {
      padding-bottom: 0.8rem;
      letter-spacing: -0.38px;
      font-size: 1.05rem;
    }
  }
}

#first-prototype {
  .tests {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    z-index: -1;

    .test {
      display: grid;
      background: #f9fafc;
      width: 90%;
      border-radius: 20px;
      padding: 2rem 2rem;
      z-index: -1;

      ul {
        list-style: disc;

        li {
          padding-bottom: 0.2rem;
          margin-left: 5%;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}

#empathise {
  .small_wrap {
    display: grid;
    background: #f9fafc;
    width: 90%;
    border-radius: 20px;
    padding: 2rem 2rem;
    z-index: -1;

    ul {
      li {
        list-style-type: disc;
        margin-left: 3%;
        padding-bottom: 0.5rem;

        p {
          font-size: 1rem;
          line-height: 1.9rem;
        }
      }
    }
  }
}

#ideate {
  #solution {
    .small_wrap {
      display: grid;
      background: #f9fafc;
      width: 90%;
      border-radius: 20px;
      padding: 2rem 2rem;
      z-index: -1;

      ul {
        margin-left: 4%;

        p {
          font-size: 1rem;
        }
      }
    }
  }
}

// Reviewty Translating

.test-approach {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  z-index: -1;

  .test {
    background: #f9fafc;
    border-radius: 20px;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    z-index: -1;

    ul {
      margin-left: 4%;

      li {
        list-style-type: disc;
        margin-left: 3%;

        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}

#empathise1 {
  .imgs_order {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.4rem;
    z-index: -1;
  }
}

#ideate {
  .small_wrap {
    display: grid;
    background: #f9fafc;
    width: 90%;
    border-radius: 20px;
    padding: 2rem 2rem;
    z-index: -1;

    ul {
      margin-left: 4%;
      p {
        font-size: 1rem;
      }
    }
  }
}

#test {
  .wrap_vertical {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    z-index: -1;

    .wrap {
      display: grid;
      background: #f9fafc;
      border-radius: 20px;
      padding: 2rem 2rem;
      z-index: -1;

      p {
        font-size: 1rem;
      }
      ul {
        list-style-type: disc;
        margin-left: 6%;
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

#test {
  .small_wrap {
    display: grid;
    background: #f9fafc;
    width: 90%;
    border-radius: 20px;
    padding: 2rem 2rem;
    z-index: -1;

    ul {
      list-style-type: disc;
      margin-left: 3%;
      p {
        font-size: 1rem;
      }
    }
  }
}

#evaluation {
  .small_wrap {
    display: grid;
    background: #f9fafc;
    width: 90%;
    border-radius: 20px;
    padding: 2rem 2rem;
    z-index: -1;

    p {
      font-size: 1rem;
    }
  }
}

// Mallforever

#hi-fi {
  .added-solution {
    display: grid;
    align-items: center;
    background: #f9fafc;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    z-index: -1;

    &-text {
      .project-section-subtitle-third {
        font-size: 1.1rem;
        padding-bottom: 1.2rem;
      }
      ul {
        margin-left: 3%;
      }
      li {
        list-style-type: disc;
        padding-right: 1rem;

        p {
          font-size: 1rem;
        }

        span {
          font-weight: 500;
        }
      }
    }
  }
}

#initial-hypo,
#validated-hypo {
  .imgs_order {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    z-index: -1;
  }
}

#validated-hypo {
  .small_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    z-index: -1;

    .wrap {
      display: grid;
      background: #f9fafc;
      border-radius: 20px;
      padding: 2rem 2rem;
      z-index: -1;

      .column-inner-title {
        font-size: 1.2rem;
        letter-spacing: -0.38px;
        font-weight: 500;
      }

      .column-inner-title-en {
        font-size: 1.2rem;
        letter-spacing: 0;
        font-weight: 500;
      }

      ul {
        list-style-type: disc;
        margin-left: 6%;

        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}

#research {
  .small_wrap {
    display: grid;
    background: #f9fafc;
    width: 90%;
    border-radius: 20px;
    padding: 2rem 2rem;
    z-index: -1;

    ul {
      margin-left: 0%;
    }

    li {
      list-style-type: disc;

      p {
        font-size: 1rem;
      }
    }
  }
}

// K-town

#empathise {
  .interview_apporach {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    z-index: -1;

    .interview {
      background: #f9fafc;
      border-radius: 20px;
      padding: 1.5rem 1.5rem;
      margin-bottom: 1rem;
      z-index: -1;

      .project-section-subtitle-third {
        font-size: 1.1rem;
        padding-bottom: 1rem;
      }

      ul {
        list-style-type: disc;
        margin-left: 8%;

        .content_text_kr,
        .content_text {
          font-size: 1rem;
          line-height: 1.5rem;
          padding-bottom: 0.4rem;
        }
      }
    }
  }

  .research_img_order {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }
}

#empathise {
  #research {
    .wrap_new {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      z-index: -1;

      .new {
        display: grid;
        background: #f9fafc;
        border-radius: 20px;
        padding: 2rem 2rem;
        z-index: -1;

        .column-inner-title {
          font-size: 1.2rem;
          letter-spacing: -0.38px;
          font-weight: 500;
        }

        .column-inner-title-en {
          font-size: 1.2rem;
          letter-spacing: 0;
          font-weight: 500;
        }

        ul {
          list-style-type: disc;
          margin-left: 6%;

          p {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

#target {
  .imgs_order {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.7rem;
    z-index: -1;
  }
}

#define {
  #problem {
    .small_wrap {
      display: grid;
      background: #f9fafc;
      width: 90%;
      border-radius: 20px;
      padding: 2rem 2rem;
      z-index: -1;

      p {
        font-size: 1.1rem;
      }
    }
  }
}

#ideate {
  .small_wrap {
    display: grid;
    background: #f9fafc;
    width: 90%;
    border-radius: 20px;
    padding: 2rem 2rem;
    z-index: -1;
    ul {
      margin-left: 4%;
      li {
        list-style-type: disc;

        p {
          font-size: 1rem;
        }
      }
    }
  }
}

#evaluation {
  .small_wrap {
    display: grid;
    background: #f9fafc;
    width: 90%;
    border-radius: 20px;
    padding: 2rem 2rem;
    z-index: -1;

    .line-fixer {
      padding-left: 1.6rem;
      padding-bottom: 0.8rem;
      font-weight: 400;
      word-break: keep-all;
      letter-spacing: -0.38px;
    }

    .line-fixer-en {
      padding-left: 1.6rem;
      padding-bottom: 0.8rem;
      font-weight: 400;
      word-break: keep-all;
      letter-spacing: 0rem;
      line-height: 1.8rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

// Buskingplay
#service-analysis {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  .analysis {
    display: grid;
    grid-template-rows: repeat(1fr, 1fr);
    background: #f9fafc;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 20px;
    z-index: -1;

    &-img {
      padding: 0rem 1.5rem;
    }

    .content_text_en_center {
      width: 100%;
    }
  }
}

#assumption {
  .imgs_order {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
    z-index: -1;
  }
}

.bp_mission {
  .mission-texts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
    z-index: -1;
  }

  .mission-text-a {
    background: #f9fafc;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 20px;
    z-index: -1;

    h3 {
      font-weight: 400;
      font-size: 1rem;
      padding-top: 2rem;
      text-align: left;
      align-self: flex-end;
    }
  }
}

.gif_bp {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 40%;
    border-radius: 10px;
  }
}

#problem {
  .small_wrap {
    display: grid;
    background: #f9fafc;
    width: 90%;
    border-radius: 20px;
    padding: 2rem 2rem;
    z-index: -1;
    ul {
      margin-left: 3%;
      li {
        list-style-type: disc;

        p {
          font-size: 1rem;
        }
      }
    }
  }
}

#define {
  .column-inner-title {
    font-size: 1.2rem;
    letter-spacing: -0.38px;
    font-weight: 500;
  }

  .column-inner-title-en {
    font-size: 1.2rem;
    letter-spacing: 0;
    font-weight: 500;
  }
}

.process_img {
  width: 60%;
  margin: auto;
}

// About Me
.about-contents,
.about-contents-en {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  grid-gap: 2.5rem;
  z-index: -1;
  overflow: hidden;

  .about-img {
    padding-top: 0.8rem;
  }
}

.loving {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
}
